#action-button {
  width: 40%;
  min-width: 180px;
  max-width: 260px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  display: block;
  cursor: pointer;
}

.red-button {
  color: #ffffff;
  background: #ff3333;
  box-shadow: 0 0 20px 1px rgba(255, 51, 51, 0.4);
}

.green-button {
  color: #ffffff;
  background: #00be3f;
  box-shadow: 0 0 20px 1px rgba(0, 190, 63, 0.4);
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-top: 20px;
}

.icon img {
  margin-top: -2px;
  height: 20px;
  width: 20px;
}

#bottom-action {
  width: 100%;
  position: sticky;
}
