body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#page-container {
  height: 100%;
  width: 90vw;
  max-width: 1000px;
  min-width: 300px;
  max-height: 900px;
  min-height: 200px;
}

#on-going {
  padding-top: 20px;
  width: 100%;
  min-height: 85px;
  max-height: 11.5%;
}

#on-going p:nth-of-type(1) {
  font-size: 26px;
  font-weight: 700;
  color: #333;
}

#on-going p:nth-of-type(2) {
  font-size: 16px;
  margin-top: 25px;
  font-weight: 700;
  color: #888;
}

#on-going p:nth-of-type(2) > a {
  color: #4980ff;
  padding: 7px 16px 8px 16px;
  border-radius: 30px;
  border: 2px solid #4980ff;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

#on-going p:nth-of-type(2) > a:hover {
  transition: 0.2s;
  color: #fff;
  background: #4980ff;
}

.line-scroll {
  min-height: 90px;
  overflow-y: scroll;
  padding: 24px 0 0 20px;
  margin-left: -20px;
}

.line-user-holder {
  display: inline-block;
  width: 100%;
  min-width: 200px;
  max-width: 320px;
  height: 70px;
}

.line-user-holder img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  vertical-align: middle;
  border: none;
}

.line-user-holder div {
  display: inline-block;
  width: 70%;
  height: 50px;
  margin-left: 5px;
  border-radius: 25px;
  vertical-align: middle;
}

.line-user-holder div > p {
  font-size: 16px;
  margin: 15px 0 0 15px;
}

.playing-user img {
  border: 2px solid #004cff;
  box-shadow: 0 0 20px 1px rgba(0, 76, 255, 0.4);
}

.playing-user div {
  background-color: #004cff;
  box-shadow: 0 0 20px 1px rgba(0, 76, 255, 0.4);
}

.playing-user div > p {
  color: #fff;
  font-weight: 700;
}

.waiting-user img {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.waiting-user div {
  background-color: #fff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

#line {
  margin-top: 30px;
  height: 40px;
}

#line p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
  color: #888;
}

@media only screen and (max-width: 768px) {
  #header img:nth-of-type(2) {
    height: 40px;
  }

  #on-going {
    padding-top: 10px;
    min-height: 65px;
  }

  #on-going p:nth-of-type(2) {
    margin-top: 10px;
  }

  #line {
    margin-top: 5px;
  }

  .line-scroll {
    height: 18%;
  }

  .chosen-user-holder {
    max-width: none;
  }

  .line-user-holder {
    max-width: none;
  }

  .icon {
    height: 55px;
    width: 55px;
  }

  .icon img {
    height: 20px;
    width: 20px;
  }
}
