body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#page-container {
  height: 100%;
  width: 90vw;
  max-width: 1000px;
  min-width: 300px;
  max-height: 900px;
  min-height: 200px;
}

.info-user {
  min-height: 400px;
  height: 60%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.info-user div {
  width: 100%;
}

.info-user div > img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: white;
  border: none;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
}

.info-user div > p {
  width: 70%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  color: #444;
}
